body {
  /* General */
  /* Top Nav */
  /* Content */
  /* Login Page */
  /* Home Page */ }
  body p {
    font-family: "Marmelad", Arial;
    font-size: 1.2em; }
  body h1.welcome-poster {
    font-family: "Lobster", cursive; }
  body a:hover {
    cursor: pointer; }
  body .navbar-default {
    font-size: 1.1em;
    font-family: "Chewy", cursive;
    background-color: #FCE9DC;
    border-bottom: 5px solid #AD4047;
    height: 40px;
    /* Normal Menu */
    /* Dropdown Menu */ }
    @media screen and (min-width: 480px) {
      body .navbar-default .navbar-nav#normalMenu {
        border-radius: 6px 6px 0 0;
        margin-right: 10%; }
        body .navbar-default .navbar-nav#normalMenu li a {
          color: white;
          background-color: #AD4047;
          border-radius: 6px 6px 0 0;
          border-right: 6px solid #6a272b;
          padding: 15px 16px 11px 16px; }
        body .navbar-default .navbar-nav#normalMenu li a:hover,
        body .navbar-default .navbar-nav#normalMenu li a:focus {
          color: white;
          background-color: #6a272b;
          border-right: solid #6a272b;
          padding: 15px 21px 11px 21px;
          transition-duration: 0.28s; } }
    @media screen and (min-width: 768px) {
      body .navbar-default .navbar-nav#normalMenu {
        margin-right: 20%; } }
    body .navbar-default .btn-group#dropdownMenu {
      display: none; }
    @media screen and (max-width: 480px) {
      body .navbar-default {
        /* Normal Menu */
        /* Dropdown Menu */ }
        body .navbar-default .navbar-nav#normalMenu {
          display: none; }
        body .navbar-default .btn-group#dropdownMenu {
          display: block;
          float: right; }
          body .navbar-default .btn-group#dropdownMenu button {
            padding: 10px 22px 5px 22px;
            border-width: 0px;
            background: #341315;
            font-size: 25px; }
            body .navbar-default .btn-group#dropdownMenu button span {
              color: white; }
          body .navbar-default .btn-group#dropdownMenu button:hover {
            background: #AD4047; }
          body .navbar-default .btn-group#dropdownMenu ul {
            padding: 0;
            background-color: #3D001F; }
            body .navbar-default .btn-group#dropdownMenu ul li {
              background-color: #341315;
              font-size: 20px; }
              body .navbar-default .btn-group#dropdownMenu ul li a {
                padding-top: 7px;
                padding-bottom: 7px;
                color: white;
                font-size: 16px;
                font-family: "Arial"; }
              body .navbar-default .btn-group#dropdownMenu ul li a:hover {
                background-color: #AD4047; } }
  body .navbar-default.topnav:hover {
    border-bottom: 5px solid #6a272b;
    transition-duration: 0.4s; }
  body .navbar-default.login-topnav {
    height: 13vh;
    overflow: hidden;
    white-space: nowrap;
    /* Logo */ }
    body .navbar-default.login-topnav .navbar-brand,
    body .navbar-default.login-topnav .navbar-brand:hover,
    body .navbar-default.login-topnav .navbar-brand:focus {
      color: #593836;
      font-size: 7vh;
      position: relative;
      bottom: -19%;
      text-overflow: clip; }
  body .navbar-default.login-botnav {
    display: block;
    height: 7vh;
    border-bottom-width: 0;
    z-index: -1; }
  @media screen and (max-device-width: 375px) {
    body .navbar-default.login-botnav {
      display: none; } }
  body .general-container, body .login-container, body .home-container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fffefd;
    padding-top: 80px; }
  body .login-container {
    text-align: center;
    padding-top: 12vh;
    margin: 0;
    height: 95vh;
    /* might belong in the login page later */ }
    body .login-container a#redirect-button {
      margin-right: auto;
      margin-left: -15vh;
      color: white;
      font-size: 1em;
      position: absolute;
      width: 30vh;
      top: 50%;
      -ms-text-overflow: clip;
      text-overflow: clip; }
    body .login-container .welcome-poster {
      font-family: "Lobster", cursive; }
    body .login-container .carousel {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      align-content: center;
      text-align: center;
      border-bottom: 5px solid #AD4047; }
      body .login-container .carousel .login-button {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 3vh;
        z-index: 1;
        position: absolute;
        bottom: 7vh;
        width: 30vh;
        height: 7vh;
        margin-left: -15vh;
        -ms-text-overflow: clip;
        text-overflow: clip; }
      body .login-container .carousel .carousel-indicators {
        bottom: 1vh; }
      body .login-container .carousel .carousel-inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        body .login-container .carousel .carousel-inner img {
          display: table-cell;
          margin-left: auto;
          margin-right: auto;
          width: auto;
          height: auto;
          max-height: 95vh; }
    body .login-container .dim-background {
      opacity: 0.5;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      position: absolute; }
  @media screen and (max-device-width: 375px) {
    body .login-container {
      height: 90vh; } }
  body .home-container {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
