{{diagnostic}}
<div *ngIf="!active">
    <button class="btn btn-primary" (click)="openForm()">Make New Cake</button>
</div>

<div *ngIf="active">
    <form (ngSubmit)="addCake(model.name)" #addCakeForm="ngForm">
        <!-- Cake name -->
        <div class="form-group">
            <label>Cake Name</label>
            <input type="text" class="form-control" required
                   [(ngModel)]="model.name">
            <!--<div [hidden]="name.valid || name.pristine" class="alert alert-danger">-->
            <!--Name is required-->
            <!--</div>-->
        </div>

        <!-- Ingredient list -->
        <div class="form-group">
            <ul>
                <label>Ingredients</label>
                <li *ngFor="#ingr of ingrList; #idx = index">
                    <input [(ngModel)]="ingr.value" type="text" class="form-control"
                           placeholder="(optional)">
                </li>
                <button type="button" class="btn btn-default" (click)="addIngredient()">
                    Add More Ingredient
                </button>
                <!--<div [hidden]="name.valid || name.pristine" class="alert alert-danger">-->
                <!--</div>-->
            </ul>
        </div>

        <!-- Instruction steps -->
        <div class="form-group">
            <ul>
                <label>Steps</label>
                <li *ngFor="#step of stepList; #idx = index">
                    <input [(ngModel)]="step.value" type="text" class="form-control"
                           placeholder="(optional)">
                </li>
                <button type="button" class="btn btn-default" (click)="addStep()">
                    Add More Step
                </button>
                <!--<div [hidden]="name.valid || name.pristine" class="alert alert-danger">-->
                <!--</div>-->
            </ul>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger" (click)="closeForm()">Cancel</button>
    </form>
</div>
