<div class="details-container">
    <div *ngIf="cake">
        <h3><b>{{cake.name}}</b></h3>
        <hr>
        <div class="cake-info">
            <div class="cake-image">
                <a>
                    <img *ngIf="!isEmptyString(cake.croppedImage)" src="{{cake.croppedImage}}">
                    <img *ngIf="isEmptyString(cake.croppedImage)" src="../assets/custom/images/default-placeholder.png">
                </a>
                <input type="file" name="file" id="file" (change)="readImage($event, uploadCallBack)">
                <label for="file">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp;Upload an image
                </label>

            </div>
            <div class="cake-description well">
                <button type="button" class="btn btn-default">Edit</button>
                <h4 style="margin-top: 0; margin-bottom: 5px;"><b>Description</b></h4>
                <p *ngIf="cake.description"></p>
                <p style="color: #888" *ngIf="!cake.description">(no description yet)</p>
            </div>
        </div>
        <br>

        <label><b>Ingredients</b></label>
        <ul>
            <li *ngFor="#ingr of cake.ingredients">
                {{ingr}}
            </li>
            <li style="list-style: none; padding-top: 10px; padding-bottom: 5px">
                <form class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="(add new ingredient)"
                               [(ngModel)]="currIngr">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"
                                    [class.disabled]="isEmptyString(currIngr)"
                                    (click)="addDetail('ingr')">
                                Add
                            </button>
                        </span>
                    </div>
                </form>
            </li>
        </ul>

        <label><b>Steps</b></label>
        <ol>
            <li *ngFor="#step of cake.steps">
                {{step}}
            </li>
            <li style="list-style: none; padding-top: 10px; padding-bottom: 5px">
                <form class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="(add new step)"
                               [(ngModel)]="currStep">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"
                                    [class.disabled]="isEmptyString(currStep)"
                                    (click)="addDetail('step')">
                                Add
                            </button>
                        </span>
                    </div>
                </form>
            </li>
        </ol>
    </div>
    <hr>

    <button class="btn btn-default" (click)="gotoCakes()">Back</button>
    <button class="btn btn-danger" (click)="deleteCake()">Remove This Cake</button>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"
            id="modal-button" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload Unsuccesful!</h4>
                </div>
                <div class="modal-body">
                    <p style="word-break: keep-all">
                        Please only upload image of either type JPG, JPEG, or PNG
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>