<div class="details-container">
    <div *ngIf="cake">
        {{fileUpload}}
        <h3><b>{{cake.name}}</b></h3>
        <hr>
        <div class="cake-info">
            <div class="cake-image">
                <a>
                    <img *ngIf="!isEmptyString(imgData)" src="data:image/jpeg;base64,{{imgData}}">
                    <img *ngIf="isEmptyString(imgData)" src="../assets/custom/images/default-placeholder.png">
                </a>
                <!--<button type="button" class="upload-button" (click)="uploadCakeImage()">-->
                <!--<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp;Upload a picture-->
                <!--</button>-->
                <input type="file" name="file" id="file" (change)="uploadCakeImage($event)">
                <label for="file">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp;Upload an image
                </label>
                <!--</button>-->
                <!--<button type="button">Upload</button>-->

            </div>
            <div class="cake-description well">
                <h4 style="margin-top: 0; margin-bottom: 5px;"><b>Description</b></h4>
                <p *ngIf="cake.description"></p>
                <p style="color: #888" *ngIf="!cake.description">(no description yet)</p>
            </div>
        </div>
        <br>

        <label><b>Ingredients</b></label>
        <ul>
            <li *ngFor="#ingr of cake.ingredients">
                {{ingr}}
            </li>
            <li style="list-style: none; color: #888;" *ngIf="cake.ingredients.length == 0">(no ingredients specified)
            </li>
            <li style="list-style: none; padding-top: 10px; padding-bottom: 5px">
                <form class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="(add new ingredient)"
                               [(ngModel)]="currIngr">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"
                                    [class.disabled]="isEmptyString(currIngr)"
                                    (click)="addDetail('ingr')">
                                Add
                            </button>
                        </span>
                    </div>
                </form>
            </li>
        </ul>

        <label><b>Steps</b></label>
        <ol>
            <li *ngFor="#step of cake.steps">
                {{step}}
            </li>
            <li style="list-style: none; color: #888;" *ngIf="cake.steps.length == 0">(no steps specified)</li>
            <li style="list-style: none; padding-top: 10px; padding-bottom: 5px">
                <form class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="(add new step)"
                               [(ngModel)]="currStep">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"
                                    [class.disabled]="isEmptyString(currStep)"
                                    (click)="addDetail('step')">
                                Add
                            </button>
                        </span>
                    </div>
                </form>
            </li>
        </ol>
    </div>
    <hr>

    <button class="btn btn-default" (click)="gotoCakes()">Back</button>
    <button class="btn btn-danger" (click)="deleteCake()">Remove This Cake</button>
</div>