<nav class="navbar navbar-default topnav" style="margin: 30px 20% 0 20%">
    <a href="#" class="navbar-brand">Cake Book</a>

    <!-- Normal Menu -->
    <ul class="nav navbar-nav navbar-right" id="normalMenu">
        <li>
            <a class="navbar-item">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home&nbsp;
            </a>
        </li>
        <li>
            <a class="navbar-item">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Profile&nbsp;
            </a>
        </li>
        <li>
            <a class="navbar-item">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Settings&nbsp;
            </a>
        </li>
        <li>
            <a class="navbar-item" (click)="logout()">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout&nbsp;
            </a>
        </li>
    </ul>

    <!-- Dropdown Menu -->
    <div class="btn-group" id="dropdownMenu">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-list"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a class="navbar-item">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home&nbsp;
                </a>
            </li>
            <li>
                <a class="navbar-item">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Profile&nbsp;
                </a>
            </li>
            <li>
                <a class="navbar-item">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Settings&nbsp;
                </a>
            </li>
            <li>
                <a class="navbar-item" (click)="logout()">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout&nbsp;
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="left-page">fafasd</div>
<div class="home-container" style="margin-top: 0">
    <h1 class="welcome-poster">Welcome to Cake Book!</h1>
    <h2>Home</h2>
    <h3>My Cakes</h3>
    <add-cake-form (saved)="onAdded($event)"></add-cake-form>
    <br>
    <div class="cake-list list-group">
        <!--<div class="error" *ngIf="errorMessage">-->
        <!--{{errorMessage}}-->
        <!--</div>-->
        <a class="list-group-item" *ngFor="#cake of cakes"
           (click)="onSelect(cake)">{{cake.name}}</a>
    </div>
</div>
