<div class="home-container">
    <h1 class="welcome-poster">Welcome to Cake Book!</h1>
    <h2>Home</h2>
    <!-- Search -->
    <form (ngSubmit)="goSearch(searchInput.value)">
        <div class="search-input-group input-group" style="margin-top: 5px">
            <input #searchInput type="text" class="form-control" placeholder="Enter a link or some text...">
            <div class="input-group-btn search-group-btn">
                <button class="btn btn-default" type="submit" required>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </form>

    <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" #headingOne
                 data-toggle="collapse" data-parent="#accordion"
                 href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <span class="glyphicon glyphicon-plus"></span> Make My Own Cake
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <!-- Add -->
                    <add-cake-form (saved)="onAdded($event, headingOne, addSuccess)"></add-cake-form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo" #headingTwo
                 data-toggle="collapse" data-parent="#accordion"
                 href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="glyphicon glyphicon-import"></span> Import A Recipe
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <!-- Import -->
                    <import-cake-form (saved)="onAdded($event, headingTwo, importSuccess)"></import-cake-form>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <h3 style="margin-top: 30px">My Cakes</h3>
    <div class="cake-list list-group">
        <a class="list-group-item" *ngFor="#cake of cakes"
           (click)="onSelect(cake)">{{cake.name}}</a>
    </div>
</div>


<!-- Add Cake Success -->
<div class="ui positive message hidden" #addSuccess>
    <i class="close icon" (click)="closeMessage(addSuccess)"></i>
    <p>Cake successfully added!</p>
</div>
<!-- Import Cake Success -->
<div class="ui positive message hidden" #importSuccess>
    <i class="close icon" (click)="closeMessage(importSuccess)"></i>
    <p>Recipe successfully imported!</p>
</div>