<!--<div *ngIf="!active">-->
<!--<button class="btn btn-primary" (click)="openForm()">-->
<!--<span class="glyphicon glyphicon-import"></span> Import A Recipe-->
<!--</button>-->
<!--</div>-->

<div class="import-cake-form">
    <button class="instruction-sign btn btn-info" type="button"
            data-html="true" data-toggle="tooltip" data-placement="left" data-trigger="click"
            title="{{tooltipTitle}}">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </button>

    <h4 style="text-align: center"><b>{{header}}</b></h4>
    <form (ngSubmit)="importCake()">
        <textarea #textArea rows="10" class="form-control" [value]="modelString"
                  (keyup)="updateTextArea(textArea.value)"></textarea>
        <button type="button" class="btn btn-info"
                [class.disabled]="isEmptyString(modelString)"
                (click)="parsePreview()">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <span class="hide-720"> Preview</span>
        </button>
        <div class="ui toggle checkbox">
            <input type="checkbox" id="publicToggleImport" [checked]="model.isPublic"
                   (click)="togglePublicity()">
            <label>Allow everyone to see this cake?</label>
        </div>
        <hr>

        <!-- Preview -->
        <h4 style="text-align: center"><b>Preview</b></h4>
        <p><b>Name</b>: {{model.name}}</p>
        <p><b>Description</b>: {{model.description}}</p>
        <p><b>Ingredients</b>: </p>
        <ul>
            <li *ngFor="#ingr of model.ingredients">{{ingr.value}}</li>
        </ul>
        <p><b>Steps</b>: </p>
        <ul>
            <li *ngFor="#step of model.steps">{{step.value}}</li>
        </ul>

        <!-- Main form buttons -->
        <div *ngIf="isModal != true">
            <hr>
            <button type="submit" class="btn btn-success"
                    [class.disabled]="isEmptyString(model.name)">
                <span class="glyphicon glyphicon-ok"></span> Submit
            </button>
            <button type="button" class="btn btn-danger"
                    (click)="clearForm()">
                <span class="glyphicon glyphicon-remove"></span> Clear
            </button>
        </div>
    </form>
</div>
