<div *ngIf="!loggedIn()" class="login-body">
    <nav class="navbar navbar-default login-topnav">
        <a href="#" class="navbar-brand">Cake Book</a>
    </nav>

    <div class="login-container">
        <!-- Bootstrap Carousel -->
        <div id="login-carousel" class="carousel slide" data-ride="carousel">
            <!-- Login Button -->
            <a *ngIf="!loggedIn()" (click)="login()" class="login-button btn btn-default">
                <span>Get Started</span>
            </a>

            <!-- Indicators -->
            <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#login-carousel" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#login-carousel" data-slide-to="1"></li>-->
                <!--<li data-target="#login-carousel" data-slide-to="2"></li>-->
                <!--<li data-target="#login-carousel" data-slide-to="3"></li>-->
            <!--</ol>-->

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="https://trello-attachments.s3.amazonaws.com/5619e2ce89b9f640b6d255b7/932x960/7a578b224734b632c301881e75086ded/11041817_969486119731278_9135160827594352226_n.jpg"
                         alt="ME">
                </div>
            </div>

            <!-- Controls -->
            <!--<a class="left carousel-control" href="#login-carousel" role="button" data-slide="prev">-->
                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Previous</span>-->
            <!--</a>-->
            <!--<a class="right carousel-control" href="#login-carousel" role="button" data-slide="next">-->
                <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Next</span>-->
            <!--</a>-->
        </div>

        <!-- Dimmed Background-->
        <!--<div class="dimmed-background">&nbsp;</div>-->
    </div>

    <nav class="navbar navbar-default login-botnav"></nav>
</div>

<div *ngIf="loggedIn() && atLoginPage()">
    <a class="btn btn-primary" id="redirect-button" href="/home">Login Successful<br>(click here)</a>
</div>