<div *ngIf="!loggedIn()" class="login-outer-wrapper">
    <nav class="navbar navbar-default login-topnav">
        <a href="#" class="navbar-brand">Cake Book</a>
    </nav>

    <div class="login-container">
        <!-- Bootstrap Carousel -->
        <div id="login-carousel" class="carousel slide" data-ride="carousel">
            <!-- Login Button -->
            <a *ngIf="!loggedIn()" (click)="login()" class="login-button btn btn-default">
                <span>Get Started</span>
            </a>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="https://trello-attachments.s3.amazonaws.com/5619e2ce89b9f640b6d255b7/932x960/7a578b224734b632c301881e75086ded/11041817_969486119731278_9135160827594352226_n.jpg"
                         alt="ME">
                </div>
            </div>
        </div>

        <!-- Dimmed Background-->
        <!--<div class="dimmed-background">&nbsp;</div>-->
    </div>

    <nav class="navbar navbar-default login-botnav"></nav>
</div>