<div class="general-container">
    <div *ngFor="#result of results.results" class="results-media media">
        <div class="media-left">
            <!--<a href="#">-->
                <img class="media-object"
                     src="{{results.baseUri}}{{result.image}}"
                     alt="ME">
            <!--</a>-->
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{result.title}}</h4>
            (ready in {{result.readyInMinutes}} minutes)
        </div>
    </div>
</div>
