// Color Palette http://i.imgur.com/fAigKyc.png
$_1st-brown-gray: #BAA99E;
$_2nd-light-cream: #FCE9DC;
$_3rd-cream: #DEBAA9;
$_4th-coffee-red: #593836;
$_5th-soft-pink: #DB8F8F;

body {
    /* General */
    p {
        font-family: "Marmelad", Arial;
        font-size: 1.1em;
    }

    a:hover {
        cursor: pointer;
    }

    /* Top Nav */
    .navbar-default {
        font-size: 1.1em;
        background-color: $_2nd-light-cream;
        font-family: 'Chewy', serif;
        border-bottom: 5px solid #AD4047;

        .navbar-nav {
            border-radius: 6px 6px 0 0;

            li {
                a {
                    background-color: #AD4047;
                    color: white;
                    border-radius: 6px 6px 0 0;
                    border-right: 4px solid darken(#AD4047, 18%);
                }
                a:hover,
                a:focus {
                    color: white;
                    background-color: darken(#AD4047, 18%);
                    transition-duration: 0.28s;
                    border-right: solid darken(#AD4047, 18%);
                    padding: 15px 18px;
                }
            }
        }
    }
    .navbar-default:hover {
        border-bottom: 5px solid darken(#AD4047, 18%);
    }

    /* Content */
    // not logged in
    .home-container {
        padding-top: 100px;
        height: 100%;
        background-color: lighten($_2nd-light-cream, 7%);
        text-align: center;

        .welcome-poster {
            font-family: 'Chewy', cursive;
        }

        img {
            border-radius: 10px;
            width: 60%;
            height: auto;
        }
    }
}