body {
  /* General */
  /* Top Nav */
  /* Content */
  /* Login Page */
  /* Home Page */ }
  body p {
    font-family: "Marmelad", Arial;
    font-size: 1.2em; }
  body h1.welcome-poster {
    font-family: "Lobster", cursive; }
  body a:hover {
    cursor: pointer; }
  body .navbar-default {
    font-size: 1.1em;
    font-family: "Chewy", cursive;
    background-color: #FCE9DC;
    border-bottom: 5px solid #AD4047;
    height: 40px; }
    body .navbar-default .navbar-nav {
      border-radius: 6px 6px 0 0; }
      body .navbar-default .navbar-nav li a {
        color: white;
        background-color: #AD4047;
        border-radius: 6px 6px 0 0;
        border-right: 6px solid #6a272b;
        padding: 15px 16px 11px 16px; }
      body .navbar-default .navbar-nav li a:hover,
      body .navbar-default .navbar-nav li a:focus {
        color: white;
        background-color: #6a272b;
        border-right: solid #6a272b;
        padding: 15px 21px 11px 21px;
        transition-duration: 0.28s; }
    @media screen and (min-width: 768px) {
      body .navbar-default .navbar-right {
        margin-right: 20%; } }
  body .navbar-default.topnav:hover {
    border-bottom: 5px solid #6a272b;
    transition-duration: 0.4s; }
  body .navbar-default.login-topnav {
    height: 13vh; }
  body .navbar-default.login-botnav {
    display: block;
    height: 7vh;
    border-top: 5px solid #AD4047;
    border-bottom-width: 0; }
  @media screen and (max-device-width: 375px) {
    body .navbar-default.login-botnav {
      display: none; } }
  body .general-container, body .login-container, body .home-container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fffefd;
    padding-top: 80px; }
  body .login-container {
    text-align: center;
    padding-top: 12vh;
    margin: 0;
    height: 95vh;
    /* might belong in the login page later */ }
    body .login-container .welcome-poster {
      font-family: "Lobster", cursive; }
    body .login-container .carousel {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      align-content: center;
      text-align: center; }
      body .login-container .carousel .login-button {
        background-color: transparent;
        color: white;
        font-size: 1em;
        z-index: 1;
        position: absolute;
        bottom: 50px;
        width: 20vh;
        margin-left: -10vh;
        -ms-text-overflow: clip;
        text-overflow: clip; }
      body .login-container .carousel .carousel-inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        body .login-container .carousel .carousel-inner img {
          display: table-cell;
          margin-left: auto;
          margin-right: auto;
          width: auto;
          height: auto;
          max-height: 90vh; }
    body .login-container .dim-background {
      opacity: 0.5;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      position: absolute; }
  @media screen and (max-device-width: 375px) {
    body .login-container {
      height: 90vh; } }
  body .home-container {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
