// Color Palette http://i.imgur.com/fAigKyc.png
$_1st-brown-gray: #BAA99E;
$_2nd-light-cream: #FCE9DC;
$_3rd-cream: #DEBAA9;
$_4th-coffee-red: #593836;
$_5th-soft-pink: #DB8F8F;

// Colors
$topnav-color: $_2nd-light-cream;
$topnav-item-color: #AD4047;
$topnav-item-hovered-color: darken($topnav-item-color, 18%);

// Fonts
$topnav-font: "Chewy", cursive;
$welcome-font: "Lobster", cursive;
$normal-font: "Marmelad", Arial;

body {
    /* General */
    p {
        font-family: $normal-font;
        font-size: 1.2em;
    }

    h1.welcome-poster {
        font-family: $welcome-font;
    }

    a:hover {
        cursor: pointer;
    }

    /* Top Nav */
    .navbar-default {
        font-size: 1.1em;
        font-family: $topnav-font;
        background-color: $topnav-color;
        border-bottom: 5px solid $topnav-item-color;
        height: 40px;

        .navbar-nav {
            border-radius: 6px 6px 0 0;

            li {
                a {
                    color: white;
                    background-color: $topnav-item-color;
                    border-radius: 6px 6px 0 0;
                    border-right: 6px solid $topnav-item-hovered-color;
                    padding: 15px 16px 11px 16px;
                }
                a:hover,
                a:focus {
                    color: white;
                    background-color: $topnav-item-hovered-color;
                    border-right: solid $topnav-item-hovered-color;
                    padding: 15px 21px 11px 21px;
                    transition-duration: 0.28s;
                }
            }
        }
        @media screen and (min-width: 768px) {
            .navbar-right {
                margin-right: 20%;
            }
        }
    }
    .navbar-default.topnav:hover {
        border-bottom: 5px solid darken(#AD4047, 18%);
        transition-duration: 0.4s;
    }

    .navbar-default.login-topnav {
        height: 13vh;
    }
    .navbar-default.login-botnav {
        display: block;
        height: 7vh;
        border-top: 5px solid $topnav-item-color;
        border-bottom-width: 0;
    }
    @media screen and (max-device-width: 375px) {
        .navbar-default.login-botnav {
            display: none;
        }
    }

    /* Content */
    .general-container {
        margin-left: 20%;
        margin-right: 20%;
        background-color: lighten($_2nd-light-cream, 7%);
        padding-top: 80px;
    }

    /* Login Page */
    .login-container {
        @extend .general-container;
        text-align: center;
        padding-top: 12vh;
        margin: 0;
        height: 95vh;

        a#redirect-button {
            margin-left: auto;
            margin-right: auto;
        }

        /* might belong in the login page later */
        .welcome-poster {
            font-family: $welcome-font;
        }

        .carousel {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
            align-content: center;
            text-align: center;

            .login-button {
                background-color: transparent;
                color: white;
                font-size: 1em;
                z-index: 1;
                position: absolute;
                bottom: 50px;
                width: 20vh;
                margin-left: -10vh;
                -ms-text-overflow: clip;
                text-overflow: clip;
            }

            .carousel-inner {
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                img {
                    display: table-cell;
                    margin-left: auto;
                    margin-right: auto;
                    width: auto;
                    height: auto;
                    max-height: 90vh;
                }
            }
            //.right.carousel-control {
            //    border-radius: 0 10px 10px 0;
            //    background: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
            //}
            //.left.carousel-control {
            //    border-radius: 10px 0 0 10px;
            //    background: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
            //}
        }

        .dim-background {
            //background-image: url(http://images.all-free-download.com/images/graphiclarge/plain_white_background_211387.jpg);
            opacity: 0.5;
            z-index: 10;
            width: 100vw;
            height: 100vh;
            position: absolute;
        }
    }
    @media screen and (max-device-width: 375px) {
        .login-container {
            height: 90vh;
        }
    }

    /* Home Page */
    .home-container {
        @extend .general-container;
        text-align: center;
    }
}
