/******************************************************
 *  CSS/Less/SCSS Comb                                *
 *      Plugin: https://github.com/bruce/atom-csscomb *
 *      Settings: http://csscomb.com/config           *
 ******************************************************/
/*************
 * Variables *
 *************/
/**********
 * Styles *
 **********/
body {
  /***********
   * General *
   ***********/
  font-family: "Marmelad", Arial;
  /*******************
   * General Top Nav *
   *******************/
  /**********************
   * Login Page Top Nav *
   **********************/
  /***********
   * Content *
   ***********/
  /**************
   * Login Page *
   **************/
  /*************
   * Home Page *
   *************/
  /****************
   * Cake Details *
   ****************/ }
  body p {
    font-size: 1.2em; }
  body h1.welcome-poster {
    text-align: center;
    font-family: "Lobster", cursive; }
  body a:hover {
    cursor: pointer; }
  body .navbar-default {
    height: 40px;
    border-bottom: 5px solid #AD4047;
    background-color: #FCE9DC;
    font-size: 1.1em;
    font-family: "Chewy", cursive;
    /* Normal Menu */
    /* Dropdown Menu */
    /* General Logo */ }
    @media screen and (min-width: 480px) {
      body .navbar-default .navbar-nav#normalMenu {
        margin-right: 0;
        border-radius: 6px 6px 0 0; }
        body .navbar-default .navbar-nav#normalMenu li a {
          padding: 15px 16px 11px 16px;
          border-right: 6px solid #6a272b;
          border-radius: 6px 6px 0 0;
          background-color: #AD4047;
          color: white; }
        body .navbar-default .navbar-nav#normalMenu li a:hover,
        body .navbar-default .navbar-nav#normalMenu li a:focus {
          padding: 15px 21px 11px 21px;
          border-right: solid #6a272b;
          background-color: #6a272b;
          color: white;
          transition-duration: 0.28s; } }
    @media screen and (max-width: 768px) {
      body .navbar-default .navbar-nav#normalMenu {
        font-size: 0.90em; }
        body .navbar-default .navbar-nav#normalMenu li a {
          padding: 15px 10px 11px 10px;
          color: white; }
        body .navbar-default .navbar-nav#normalMenu li a:hover,
        body .navbar-default .navbar-nav#normalMenu li a:focus {
          padding: 15px 15px 11px 15px;
          color: white; } }
    @media screen and (min-width: 1200px) {
      body .navbar-default .navbar-nav#normalMenu {
        margin-right: 13%; } }
    @media screen and (min-width: 480px) {
      body .navbar-default .btn-group#dropdownMenu {
        display: none; } }
    @media screen and (max-width: 480px) {
      body .navbar-default .navbar-nav#normalMenu {
        display: none; }
      body .navbar-default .btn-group#dropdownMenu {
        display: block;
        float: right;
        color: white; }
        body .navbar-default .btn-group#dropdownMenu button {
          padding: 10px 22px 1px 22px;
          border-width: 0;
          border-right: 6px solid #6a272b;
          border-radius: 6px 6px 0 0;
          background-color: #AD4047;
          color: white;
          font-size: 25px; }
        body .navbar-default .btn-group#dropdownMenu button:hover,
        body .navbar-default .btn-group#dropdownMenu button:focus {
          padding: 10px 22px 1px 28px;
          background-color: #6a272b;
          color: white;
          transition-duration: 0.28s; }
        body .navbar-default .btn-group#dropdownMenu ul {
          padding: 0;
          border-width: 0;
          border-radius: 8px 0 8px 8px;
          background-color: #AD4047; }
          body .navbar-default .btn-group#dropdownMenu ul li {
            font-size: 1.1em;
            align-content: center; }
            body .navbar-default .btn-group#dropdownMenu ul li a {
              padding: 8px 10px 6px 57px;
              color: white; }
            body .navbar-default .btn-group#dropdownMenu ul li a:hover {
              padding: 10px 10px 8px 30px;
              background-color: #6a272b;
              color: white;
              transition-duration: 0.28s; }
          body .navbar-default .btn-group#dropdownMenu ul li:first-child a {
            border-radius: 8px 0 0 0; }
          body .navbar-default .btn-group#dropdownMenu ul li:last-child a {
            border-radius: 0 0 8px 8px; } }
    body .navbar-default .navbar-brand,
    body .navbar-default .navbar-brand:hover,
    body .navbar-default .navbar-brand:focus {
      margin-left: -8px;
      color: #593836;
      text-overflow: clip;
      font-size: 5vh; }
    @media screen and (min-width: 1200px) {
      body .navbar-default .navbar-brand,
      body .navbar-default .navbar-brand:hover,
      body .navbar-default .navbar-brand:focus {
        margin-left: 13.5%;
        padding-left: 0; } }
    @media screen and (max-width: 768px) {
      body .navbar-default .navbar-brand,
      body .navbar-default .navbar-brand:hover,
      body .navbar-default .navbar-brand:focus {
        font-size: 4vh; } }
    @media screen and (max-width: 320px) {
      body .navbar-default .navbar-brand,
      body .navbar-default .navbar-brand:hover,
      body .navbar-default .navbar-brand:focus {
        font-size: 3vh; } }
    @media screen and (max-width: 200px) {
      body .navbar-default .navbar-brand,
      body .navbar-default .navbar-brand:hover,
      body .navbar-default .navbar-brand:focus {
        display: none; } }
  body .navbar-default.topnav:hover {
    border-bottom: 5px solid #6a272b;
    transition-duration: 0.4s; }
  body .navbar-default.login-topnav {
    z-index: 1;
    overflow: hidden;
    height: 13vh;
    border-bottom-width: 0;
    white-space: nowrap;
    /* Login Page Logo */ }
    body .navbar-default.login-topnav .navbar-brand,
    body .navbar-default.login-topnav .navbar-brand:hover,
    body .navbar-default.login-topnav .navbar-brand:focus {
      margin-left: 1%;
      margin-top: 3vh;
      color: #593836;
      text-overflow: clip;
      font-size: 8vh; }
  body .general-container, body .login-container, body .home-container, body .details-container {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 50px;
    padding-top: 80px; }
  body .login-container {
    margin: 0;
    padding-top: 12vh;
    height: 95vh;
    text-align: center; }
    body .login-container a#redirect-button {
      position: absolute;
      top: 50%;
      margin-right: auto;
      margin-left: -15vh;
      width: 30vh;
      color: white;
      -ms-text-overflow: clip;
      text-overflow: clip;
      font-size: 1em; }
    body .login-container .welcome-poster {
      font-family: "Lobster", cursive; }
    body .login-container .carousel {
      position: relative;
      z-index: 2;
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-top: 5px solid #AD4047;
      border-bottom: 5px solid #AD4047;
      background: #333;
      text-align: center;
      align-content: center; }
      body .login-container .carousel .login-button {
        position: absolute;
        bottom: 7vh;
        z-index: 1;
        margin-left: -15vh;
        width: 30vh;
        height: 7vh;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        -ms-text-overflow: clip;
        text-overflow: clip;
        font-size: 3vh; }
      body .login-container .carousel .carousel-indicators {
        bottom: 1vh; }
      body .login-container .carousel .carousel-inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        body .login-container .carousel .carousel-inner img {
          display: table-cell;
          margin-right: auto;
          margin-left: auto;
          max-height: 95vh;
          width: auto;
          height: auto; }
    body .login-container .dim-background {
      position: absolute;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      opacity: 0.5; }
  @media screen and (max-device-width: 380px) {
    body .login-container {
      height: 90vh; } }
  body .home-container {
    /* Cake List in Home Page */
    /* Add Cake Form */ }
    body .home-container h4 {
      margin-bottom: 6px; }
    body .home-container button {
      margin: 5px auto; }
    body .home-container .cake-list li {
      cursor: pointer; }
    body .home-container div.add-cake-form {
      position: relative;
      padding: 20px;
      border: 1px solid #DDD;
      border-radius: 4px; }
      body .home-container div.add-cake-form .form-group {
        margin-bottom: 8px; }
        body .home-container div.add-cake-form .form-group button {
          margin: 0; }
        body .home-container div.add-cake-form .form-group .input-group .input-group-btn:first-child button {
          margin-right: 5px;
          border-radius: 4px; }
        body .home-container div.add-cake-form .form-group .input-group .form-control:last-child {
          border-radius: 4px; }
        body .home-container div.add-cake-form .form-group .list-group.add-cake-list {
          margin-top: 5px;
          padding: 5px 0;
          height: auto !important;
          border: 1px solid #DDD;
          border-radius: 4px;
          background-color: #EEE; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item {
            overflow: hidden;
            margin: 2px 20px 2px 20px;
            padding: 6px 15px 6px 0;
            height: auto !important;
            border-left-width: 0;
            background-color: #fafafa;
            font-size: 1em;
            /* Edit and Remove */ }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item span {
              cursor: default; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .number-label {
              position: absolute;
              top: 0;
              float: left;
              padding: 10px;
              width: 28px;
              height: 100%;
              background-color: #cecece;
              color: white;
              word-wrap: break-word; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .number-label span {
                position: absolute;
                top: 46%;
                line-height: 5px; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .list-group-item-name {
              right: 0;
              display: inline-block;
              margin-right: auto;
              padding-left: 38px;
              width: 78%;
              word-break: break-all; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .list-group-item-name.edit-item {
              width: 77%; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .list-group-item-name.edit-item input {
                height: 26px; }
            @media screen and (min-device-width: 768px) {
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .list-group-item-name {
                width: 82%; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .list-group-item-name.edit-item {
                width: 82%; } }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .btn {
              position: relative;
              padding: 3px 7px 1px 7px;
              vertical-align: baseline;
              font-size: 10px;
              transition-duration: 0.2s; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove {
              float: right; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove .edit-button:hover {
                border-color: #5BC0DE;
                background-color: #5BC0DE; }
                body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove .edit-button:hover span {
                  color: white; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove .remove-button:hover {
                border-color: #C9302C;
                background-color: #C9302C; }
                body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove .remove-button:hover span {
                  color: white; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel {
              float: right; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .btn {
                height: 26px;
                border-color: white !important;
                background-color: white; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .save-button:hover {
                background-color: #71C171 !important; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .save-button:not(:hover) span {
                color: #5CB85C; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .cancel-button:hover {
                background-color: #D64843 !important; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .cancel-button:not(:hover) span {
                color: #C9302C; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:first-child:last-child .number-label {
            border-radius: 4px 0 0 4px; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:first-child .number-label {
            border-radius: 4px 0 0 0; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:not(:first-child):not(:last-child) .number-label {
            border-radius: 0; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:last-child .number-label {
            border-radius: 0 0 0 4px; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:hover,
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:focus {
            background-color: white;
            transition-duration: 0.2s; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:hover .number-label,
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:focus .number-label {
              background-color: #AD4047;
              transition-duration: 0.2s; }
  @media screen and (min-width: 768px) {
    body .home-container {
      margin-right: 20%;
      margin-left: 20%; } }
  @media screen and (max-width: 768px) {
    body .home-container {
      margin-right: 10%;
      margin-left: 10%; } }
  @media screen and (max-width: 480px) {
    body .home-container {
      margin-right: 20px;
      margin-left: 20px;
      min-width: 440px; } }
  @media screen and (max-width: 380px) {
    body .home-container {
      margin-right: 2px;
      margin-left: 2px; } }
  body .details-container {
    min-width: 300px;
    margin-left: 14%;
    margin-right: 14%;
    word-break: break-all; }
    body .details-container .cake-info .cake-image {
      display: inline-block;
      width: 30%;
      position: relative;
      padding-right: 10px; }
      body .details-container .cake-info .cake-image a {
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        text-decoration: none; }
        body .details-container .cake-info .cake-image a img {
          width: 100%;
          border-radius: 5px;
          border: 2px solid #DDD; }
      body .details-container .cake-info .cake-image input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1; }
      body .details-container .cake-info .cake-image label {
        text-align: center;
        margin-bottom: 0;
        cursor: pointer;
        padding: 6px;
        margin-top: 6px;
        width: 100%;
        background-color: #be4e55;
        color: white;
        border-radius: 5px;
        word-break: keep-all; }
      body .details-container .cake-info .cake-image label:hover {
        background-color: #802f35; }
    body .details-container .cake-info .cake-description {
      display: inline-block;
      vertical-align: top;
      width: 68%;
      border-radius: 5px; }
      body .details-container .cake-info .cake-description button {
        float: right; }
      body .details-container .cake-info .cake-description p {
        font-size: 1em; }
    body .details-container ul, body .details-container ol {
      padding-left: 30px; }
  @media screen and (max-width: 768px) {
    body .details-container {
      margin-left: 5%;
      margin-right: 6%; } }

.login-body {
  height: 100vh;
  background-color: #FCE9DC; }

/*# sourceMappingURL=style.css.map */
