body {
  /* General */
  /* Top Nav */
  /* Content */
  /* Login Page */
  /* Home Page */ }
  body p {
    font-family: "Marmelad", Arial;
    font-size: 1.2em; }
  body h1.welcome-poster {
    font-family: "Lobster", cursive;
    text-align: center; }
  body a:hover {
    cursor: pointer; }
  body .navbar-default {
    font-size: 1.1em;
    font-family: "Chewy", cursive;
    background-color: #FCE9DC;
    border-bottom: 5px solid #AD4047;
    height: 40px;
    /* Normal Menu */
    /* Dropdown Menu */ }
    @media screen and (min-width: 480px) {
      body .navbar-default .navbar-nav#normalMenu {
        border-radius: 6px 6px 0 0;
        margin-right: 10%; }
        body .navbar-default .navbar-nav#normalMenu li a {
          color: white;
          background-color: #AD4047;
          border-radius: 6px 6px 0 0;
          border-right: 6px solid #6a272b;
          padding: 15px 16px 11px 16px; }
        body .navbar-default .navbar-nav#normalMenu li a:hover,
        body .navbar-default .navbar-nav#normalMenu li a:focus {
          color: white;
          background-color: #6a272b;
          border-right: solid #6a272b;
          padding: 15px 21px 11px 21px;
          transition-duration: 0.28s; } }
    @media screen and (min-width: 768px) {
      body .navbar-default .navbar-nav#normalMenu {
        margin-right: 20%; } }
    @media screen and (min-width: 480px) {
      body .navbar-default .btn-group#dropdownMenu {
        display: none; } }
    @media screen and (max-width: 480px) {
      body .navbar-default .navbar-nav#normalMenu {
        display: none; }
      body .navbar-default .btn-group#dropdownMenu {
        display: block;
        float: right;
        color: white; }
        body .navbar-default .btn-group#dropdownMenu button {
          color: white;
          padding: 10px 22px 1px 22px;
          border-width: 0px;
          background-color: #AD4047;
          font-size: 25px;
          border-radius: 6px 6px 0 0;
          border-right: 6px solid #6a272b; }
        body .navbar-default .btn-group#dropdownMenu button:hover,
        body .navbar-default .btn-group#dropdownMenu button:focus {
          color: white;
          padding: 10px 22px 1px 28px;
          background-color: #6a272b;
          transition-duration: 0.28s; }
        body .navbar-default .btn-group#dropdownMenu ul {
          padding: 0;
          background-color: #AD4047;
          border-width: 0;
          border-radius: 8px 0 8px 8px; }
          body .navbar-default .btn-group#dropdownMenu ul li {
            font-size: 1.1em;
            align-content: center; }
            body .navbar-default .btn-group#dropdownMenu ul li a {
              color: white;
              padding: 8px 10px 6px 57px; }
            body .navbar-default .btn-group#dropdownMenu ul li a:hover {
              color: white;
              background-color: #6a272b;
              padding: 10px 10px 8px 30px;
              transition-duration: 0.28s; }
          body .navbar-default .btn-group#dropdownMenu ul li:first-child a {
            border-radius: 8px 0 0 0; }
          body .navbar-default .btn-group#dropdownMenu ul li:last-child a {
            border-radius: 0 0 8px 8px; } }
  body .navbar-default.topnav:hover {
    border-bottom: 5px solid #6a272b;
    transition-duration: 0.4s; }
  body .navbar-default.login-topnav {
    height: 13vh;
    overflow: hidden;
    white-space: nowrap;
    border-bottom-width: 0;
    z-index: 1;
    /* Logo */ }
    body .navbar-default.login-topnav .navbar-brand,
    body .navbar-default.login-topnav .navbar-brand:hover,
    body .navbar-default.login-topnav .navbar-brand:focus {
      color: #593836;
      font-size: 7vh;
      position: relative;
      bottom: -19%;
      text-overflow: clip; }
  body .general-container, body .login-container, body .home-container {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 80px; }
  body .login-container {
    text-align: center;
    padding-top: 12vh;
    margin: 0;
    height: 95vh;
    /* might belong in the login page later */ }
    body .login-container a#redirect-button {
      margin-right: auto;
      margin-left: -15vh;
      color: white;
      font-size: 1em;
      position: absolute;
      width: 30vh;
      top: 50%;
      -ms-text-overflow: clip;
      text-overflow: clip; }
    body .login-container .welcome-poster {
      font-family: "Lobster", cursive; }
    body .login-container .carousel {
      background: #333;
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      align-content: center;
      text-align: center;
      border-bottom: 5px solid #AD4047;
      border-top: 5px solid #AD4047;
      z-index: 2; }
      body .login-container .carousel .login-button {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 3vh;
        z-index: 1;
        position: absolute;
        bottom: 7vh;
        width: 30vh;
        height: 7vh;
        margin-left: -15vh;
        -ms-text-overflow: clip;
        text-overflow: clip; }
      body .login-container .carousel .carousel-indicators {
        bottom: 1vh; }
      body .login-container .carousel .carousel-inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        body .login-container .carousel .carousel-inner img {
          display: table-cell;
          margin-left: auto;
          margin-right: auto;
          width: auto;
          height: auto;
          max-height: 95vh; }
    body .login-container .dim-background {
      opacity: 0.5;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      position: absolute; }
  @media screen and (max-device-width: 375px) {
    body .login-container {
      height: 90vh; } }
  body .home-container {
    /* Add Cake Form */ }
    body .home-container h4 {
      margin-bottom: 6px; }
    body .home-container button {
      margin: 5px auto; }
    body .home-container ul.cake-list {
      padding-left: 25px; }
    body .home-container div.add-cake-form {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 20px;
      left: -20px;
      position: relative; }
      body .home-container div.add-cake-form .form-group {
        margin-bottom: 8px; }
        body .home-container div.add-cake-form .form-group button {
          margin: 0; }
        body .home-container div.add-cake-form .form-group .input-group .input-group-btn:first-child button {
          margin-right: 5px;
          border-radius: 4px; }
        body .home-container div.add-cake-form .form-group .input-group .form-control:last-child {
          border-radius: 4px; }
        body .home-container div.add-cake-form .form-group .list-group.add-cake-list {
          margin-top: 5px;
          border: 1px solid #ddd;
          border-radius: 4px;
          background-color: #eee;
          height: auto !important;
          padding: 5px 0; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item {
            background-color: #fafafa;
            font-size: 1em;
            padding: 6px 15px 6px 0;
            margin: 2px 20px 2px 20px;
            border-left-width: 0;
            overflow: hidden;
            height: auto !important;
            /* Edit and Remove */ }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .number-label {
              color: white;
              background-color: #cecece;
              top: 0;
              float: left;
              padding: 10px;
              width: 28px;
              height: 100%;
              position: absolute;
              word-wrap: break-word; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .number-label span {
                line-height: 5px;
                top: 46%;
                position: absolute; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .list-group-item-name {
              display: inline-block;
              right: 0;
              padding-left: 38px;
              margin-right: auto;
              width: 78%;
              word-break: break-all; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .list-group-item-name.edit-item {
              width: 76%; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .list-group-item-name.edit-item input {
                height: 26px; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .btn {
              padding: 3px 7px 1px 7px;
              font-size: 10px;
              vertical-align: baseline;
              position: relative;
              transition-duration: 0.2s; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove {
              float: right; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove .edit-button:hover {
                background-color: white;
                border-color: white; }
                body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove .edit-button:hover span {
                  color: #5bc0de; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove .remove-button:hover {
                background-color: white;
                border-color: white; }
                body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .edit-remove .remove-button:hover span {
                  color: #c9302c; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel {
              float: right;
              color: white; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .btn {
                height: 26px; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .save-button:hover {
                background-color: white;
                border-color: white; }
                body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .save-button:hover span {
                  color: #5cb85c; }
              body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .cancel-button:hover {
                background-color: white;
                border-color: white; }
                body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item .save-cancel .cancel-button:hover span {
                  color: #c9302c; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:first-child:last-child .number-label {
            border-radius: 4px 0 0 4px; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:first-child .number-label {
            border-radius: 4px 0 0 0; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:not(:first-child):not(:last-child) .number-label {
            border-radius: 0; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:last-child .number-label {
            border-radius: 0 0 0 4px; }
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:hover,
          body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:focus {
            background-color: white;
            transition-duration: 0.2s; }
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:hover .number-label,
            body .home-container div.add-cake-form .form-group .list-group.add-cake-list .list-group-item:focus .number-label {
              background-color: #AD4047;
              transition-duration: 0.2s; }
  @media screen and (max-width: 768px) {
    body .home-container {
      margin-left: 10%;
      margin-right: 10%; } }
  @media screen and (max-width: 480px) {
    body .home-container {
      min-width: 440px;
      margin-left: 20px;
      margin-right: 20px; } }
  @media screen and (max-width: 380px) {
    body .home-container {
      margin-left: 2px;
      margin-right: 2px; } }

.login-body {
  height: 100vh;
  background-color: #FCE9DC; }

/*# sourceMappingURL=style.css.map */
